.container {
  padding: 0 2rem;
  max-width: 1140px;
  margin: 0 auto;
}

.navbar {
  padding: 30px 0;
  text-align: center;
}

.banner {
  background: linear-gradient(
      131.39deg,
      #927397 -9.09%,
      #e7cbae 129.67%
    );
}

.main {
  padding: 2rem 0 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  max-width: 500px;
  color: #ffffff;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.3;
    letter-spacing: -0.8px;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 2.22;
  font-size: 1rem;
  color: rgb(241, 241, 241);
}

.image {
  display: block;
  width: 300px;
}

@media only screen and (min-width: 769px) {
  .main {
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar {
    text-align: left;
  }
  .title,
  .description {
    text-align: left;
  }
  .image {
    display: block;
    width: 500px;
  }
}
