.container {
  padding: 0 2rem;
  max-width: 1140px;
  margin: 0 auto;
}

.navbar {
  padding: 30px 0;
}

.banner {
  /* background: linear-gradient(
      131.39deg,
      #927397 -9.09%,
      #e7cbae 129.67%
    ); */
    background: linear-gradient(rgb(254, 245, 249) 0%, rgb(230, 249, 255) 100%);
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
