.container {
  padding: 0 2rem;
  max-width: 1140px;
  margin: 0 auto;
}

.navbar {
  padding: 30px 0;
  text-align: center;
}

.main {
  padding: 2rem 0 2.5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  max-width: 500px;
  color: #ffffff;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.3;
    letter-spacing: -0.8px;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1.5rem 0;
  line-height: 2.22;
  font-size: 1rem;
  color: rgb(241, 241, 241);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.button {
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 1;
  color: rgb(255, 255, 255);
  padding: 21px 29px;
  background-color: rgb(35, 55, 77);
  transition: all 500ms ease 0s;
  margin-right: 0.5rem;
}

.image {
  display: block;
  width: 300px;
}

@media only screen and (min-width: 769px) {
  .main {
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar {
    text-align: left;
  }
  .title,
  .description {
    text-align: left;
  }
  .buttonContainer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .image {
    display: block;
    width: 500px;
  }
}
