.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 6px;
}

.title {
  margin-bottom: 0;
}

.p {
  margin-top: 6px;
  margin-bottom: 30px;
}
